body {
  margin: 0px;
  background: rgba(128, 0, 128, 0.8);
  width: 99vw;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 95%;
  height: 95%;
  opacity: 0.8;
}
