body {
  margin: 0px;
  background: rgba(23, 20, 31, 0.7);
  width: 99vw;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

iframe {
  width: 102%;
  height: 100%;
  opacity: 0.7;
  border: none;
}
